* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #222831;
}

div.navbar {
    position: sticky;
    top: 0;
    width: 15%;
    height: 1000px;
    top: 0px;
    overflow: hidden;
    float: left;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #222831;
}


.navbar li a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar li a:hover {
    color: #EEEEEE;
    background-color: #393E46;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

/*Content section*/

div.content {
    float: left;
    padding-left: 14px;
    margin: 0 14px 14px 14px;
    width: 83%;
    background-color: #393E46;
    color:white;
    border-radius: 5px;
}

.content img{
    float: left;
    height: 200px;
    width: auto;
    margin: 0px 14px 14px 0px;
}

/*
@media screen and (max-width: 1200px) {

    .content {
        width: 31.33%;
    }
}

@media screen and (max-width: 900px) {

    .content {
        width: 48%;
    }
}
*/
/* @media screen and (max-width: 600px) {
    .navbar div {
        width: 100%;
    }
    .navbar li {
        float: left;
    }
    .navbar li a {
        text-align: center;
    }
} */
