* {
    /* box-sizing: border-box; */
    color: white;
}

body {
    margin: 0;
    background-color: #222831;
}

div.navbar {
    height: auto;
    position: sticky;
    top: 0px;
    margin: 0;
    overflow: hidden;
}

.navbar .home h2 {
    margin: 0;
    padding: 0;
    border: none;
}

.navbar a.home {
    display: block;

    float: left;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    float: left;
    width: 80%;
    background-color: #222831;
}

.navbar li a.headerLink {
    display: block;
    float: left;
    padding: 20px 16px 14px 16px;
    text-decoration: none;
    visibility: visible;
}

.navbar .headerLink h3 {
    margin: 0;
    padding: 0;
    border: none;
}

.navbar li a.headerLink:hover {
    background-color: #393e46;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.navbar picture.headerImage {
    float: right;
    margin: 0;
    padding: 14px 16px;
}

.navbar .headerImage img {
    max-height: 30px;
    max-width: 30px;
}

#headerLink1,
#headerLink2,
#headerLink3 {
    visibility: visible;
}

/*Content section*/

@media screen and (max-width: 800px) {
    #headerLink1,
    #headerLink2,
    #headerLink3 {
        visibility: hidden;
    }
}
